axt:active, a:hover, a {
  text-decoration: none;
  color: #333;
}

span, p, h1, h2, h3, h4, h5 , h6, li, div {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    color: #333;
}

#article {
    background-image: none;
}

.main__content {
    display: flex;
    justify-content: space-between;
}

.main__content-article {
    width: 690px;
    height: auto;
}

.main__content-article h1 {
    margin: 54px 0 16px;
}

.main__content-article__author span {
    color: #494949;
    font-size: 14px;
    line-height: 20px;
    margin-right: 8px;
}

.main__content-article__author {
    margin-bottom: 24px;
}

.main__content-article__img-1 {
    background-image: url(../img/9.png);
    margin-bottom: 24px;
}

.main__content-article__img-2 {
    background-image: url(../img/10.png);
    margin-bottom: 16px;
}

.main__content-article__img-1, .main__content-article__img-2 {
    width: 100%;
    height: 331px;
    background-repeat: no-repeat;
    background-size: cover;
}

.main__content-article h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; 
    margin-bottom: 16px;
}

.main__content-article p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
}

.main__content-article__quote-1 {
    display: flex;
    width: 100%;
    padding: 0 24px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background: #F3F7FE;
    height: 162px;
    margin: 40px 0 24px;
    box-sizing: border-box;
}

.main__content-article__quote-1 p {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='56' height='36' viewBox='0 0 56 36' fill='none'%3e%3cpath opacity='0.06' d='M20.4354 15.3529C21.8727 16.2941 22.9664 17.5 23.7163 18.9706C24.4662 20.3824 24.8412 21.9706 24.8412 23.7353C24.8412 27.3824 23.5601 30.3529 20.9978 32.6471C18.4356 34.8824 15.2797 36 11.5301 36C8.09292 36 5.31195 35.0294 3.18717 33.0882C1.06239 31.1471 0 28.6176 0 25.5C0 23.9118 0.312468 22.3824 0.937404 20.9118C1.56234 19.4412 2.71847 17.5588 4.4058 15.2647L15.4672 0H28.5908L20.4354 15.3529ZM47.6201 15.3529C49.0574 16.2941 50.1511 17.5 50.901 18.9706C51.6509 20.3824 52.0259 21.9706 52.0259 23.7353C52.0259 27.3824 50.7448 30.3529 48.1825 32.6471C45.6203 34.8824 42.4644 36 38.7148 36C35.2776 36 32.4967 35.0294 30.3719 33.0882C28.2471 31.1471 27.1847 28.6176 27.1847 25.5C27.1847 23.9118 27.4972 22.3824 28.1221 20.9118C28.747 19.4412 29.9032 17.5588 31.5905 15.2647L42.6519 0H55.7755L47.6201 15.3529Z' fill='%23333333'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    padding-top: 24px;
    background-position-y: 12px;
}

.main__content-article__quote-1  span {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.main__content-article__content h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; 
    margin-bottom: 16px;
}

.main__content-article__content a {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
    text-decoration-line: underline;
}

.main__content-article__content li {
    color: #03B2A5;
}

.main__content-article__list li:first-child {
    margin-bottom: 16px;
}

.main__content-article__list li:last-child {
    margin-bottom: 24px;
}

.main__content-article__list li {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

li {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3e%3cg clip-path='url(%23clip0_4492_1343)'%3e%3ccircle cx='12' cy='12' r='4' fill='%2303B2A5'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_4492_1343'%3e%3crect width='24' height='24' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    list-style: none;
    background-repeat: no-repeat;
    padding-left: 32px;
}

.main__content-article__content-ul {
    padding-inline-start: 0;
}

ul {
    padding-inline-start: 10px;
}

.main__content-article__content-li {
    background-image: none;
    padding-left: 0;
}

.main__content-article__photo-caption {
    color: #868686;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.25px;
    margin-bottom: 24px;
}

.main__content-article__quote-2 {
    margin: 24px 0;
    height: 168px;
    width: 100%;
    padding: 24px 104px 48px 102px;
    box-sizing: border-box;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='241' height='168' viewBox='0 0 241 168' fill='none'%3e%3cpath d='M240.219 89.2085C228.379 -4.63565 166.261 -4.64452 101.174 3.03562C36.088 10.7158 8.49893 36.3869 1.55027 69.2546C-5.39839 102.122 22.3612 160.543 78.0336 167.097C133.706 173.652 162.074 142.299 184.985 143.914C207.896 145.529 244.044 119.5 240.219 89.2085Z' fill='%23FFEDEE'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
}

.main__content-article__quote-2  p {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    line-height: 24px;
}

.main__content-article__text {
    width: 100%;
    margin: 24px 0;
    display: inline-flex;
}

.main__content-article__text-img-1 {
    background-image: url(../img/11.png);
    background-repeat: no-repeat;
    width: 282px;
    height: 380px;
    margin-right: 24px;
}

.main__content-article__text p {
    width: 385px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.main__content-article__exercise {
    width: 100%;
    height: 224px;
    padding: 24px;
    border-radius: 16px;
    margin: 24px 0; 
    box-sizing: border-box;
}

.main__content-article__exercise h6 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 8px;
}

.main__content-article__exercise p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
}

.main__content-article__exercise-1 {
    background: #FEFAEC;
}

.main__content-article__exercise-2 {
    background: #FFF3EB;
}

.main__content-article__exercise-3 {
    background: rgba(3, 178, 165, 0.10);
}

ul {
    margin-block-end: 0;
}

.main__content-article__text-img-2 {
    background-image: url(../img/12.png);
    background-repeat: no-repeat;
    width: 281px;
    height: 174px;
    margin-right: 24px;
}

.main__content-article__list-2 li:last-child {
    margin-bottom: 0;
}

.main__content-article__icon {
    margin: 24px auto;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='179' height='36' viewBox='0 0 179 36' fill='none'%3e%3cline x1='112.875' y1='17.5' x2='178.875' y2='17.5' stroke='%230063A8'/%3e%3cline x1='0.125' y1='17.5' x2='66.125' y2='17.5' stroke='%230063A8'/%3e%3ccircle cx='89' cy='18' r='16' stroke='%230063A8' stroke-width='2.76396' stroke-dasharray='0.98 8.39'/%3e%3cmask id='path-4-inside-1_4492_1161' fill='white'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M88.3889 6.81244L81.4831 19.9672C81.1336 20.6331 81.6165 21.4321 82.3685 21.4321H86.0514L85.8715 27.9452C85.813 30.0634 88.6566 30.8062 89.6415 28.9301L96.5473 15.7753C96.8969 15.1094 96.414 14.3105 95.6619 14.3105H91.979L92.159 7.7973C92.2175 5.67913 89.3738 4.93628 88.3889 6.81244Z'/%3e%3c/mask%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M88.3889 6.81244L81.4831 19.9672C81.1336 20.6331 81.6165 21.4321 82.3685 21.4321H86.0514L85.8715 27.9452C85.813 30.0634 88.6566 30.8062 89.6415 28.9301L96.5473 15.7753C96.8969 15.1094 96.414 14.3105 95.6619 14.3105H91.979L92.159 7.7973C92.2175 5.67913 89.3738 4.93628 88.3889 6.81244Z' fill='%23FFDF4E'/%3e%3cpath d='M81.4831 19.9672L82.712 20.6123H82.712L81.4831 19.9672ZM88.3889 6.81244L89.6177 7.45753V7.45753L88.3889 6.81244ZM86.0514 21.4321L87.4388 21.4704L87.4782 20.0442H86.0514V21.4321ZM85.8715 27.9452L84.4842 27.9069L85.8715 27.9452ZM89.6415 28.9301L88.4127 28.285L89.6415 28.9301ZM96.5473 15.7753L97.7761 16.4204L96.5473 15.7753ZM91.979 14.3105L90.5917 14.2721L90.5523 15.6983H91.979V14.3105ZM92.159 7.7973L93.5463 7.83563L92.159 7.7973ZM82.712 20.6123L89.6177 7.45753L87.1601 6.16735L80.2543 19.3222L82.712 20.6123ZM82.3685 20.0442C82.6602 20.0442 82.8475 20.3541 82.712 20.6123L80.2543 19.3222C79.4196 20.9122 80.5728 22.8199 82.3685 22.8199V20.0442ZM86.0514 20.0442H82.3685V22.8199H86.0514V20.0442ZM87.2588 27.9835L87.4388 21.4704L84.6641 21.3937L84.4842 27.9069L87.2588 27.9835ZM88.4127 28.285C88.1113 28.8592 87.2409 28.6319 87.2588 27.9835L84.4842 27.9069C84.385 31.4949 89.202 32.7533 90.8704 29.5752L88.4127 28.285ZM95.3185 15.1302L88.4127 28.285L90.8704 29.5752L97.7761 16.4204L95.3185 15.1302ZM95.6619 15.6983C95.3702 15.6983 95.1829 15.3884 95.3185 15.1302L97.7761 16.4204C98.6108 14.8304 97.4577 12.9226 95.6619 12.9226V15.6983ZM91.979 15.6983H95.6619V12.9226H91.979V15.6983ZM90.7716 7.75897L90.5917 14.2721L93.3663 14.3488L93.5463 7.83563L90.7716 7.75897ZM89.6177 7.45753C89.9192 6.8833 90.7896 7.11065 90.7716 7.75897L93.5463 7.83563C93.6454 4.24762 88.8285 2.98925 87.1601 6.16735L89.6177 7.45753Z' fill='%230063A8' mask='url(%23path-4-inside-1_4492_1161)'/%3e%3c/svg%3e");
    width: 173px;
    height: 32px;
}

.main__content-article__tag {
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
}

.main__content-article__tag a {
    color: #2963A3;
    font-size: 14px;
    line-height: 20px;
}

.main__content-article__tag span {
    margin: 0 8px;
}

.main__content-article__block-cards {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
}

.main__content-article__block-card {
    display: flex;
    flex-direction: column;
}

.main__content-article__block-card-img {
    width: 333px;
    height: 235px;
    background-repeat: no-repeat;
    margin-bottom: 24px;
}

.main__content-article__block-card-img-1 {
    background-image: url(../img/13.png);
}

.main__content-article__block-card-img-2 {
    background-image: url(../img/14.png);
}

.main__content-article__line {
    width: 100%;
    margin: 0 120px 72px 0;
    border-bottom: solid 1px #DEDEDE;
}

.main__content-article__help {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.main__content-article__help-title {
    width: 348px;
    margin-bottom: 76px;
}

.main__content-article__help-title h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.main__content-article__help-title p {
    margin: 24px 0 32px;
    font-size: 18px;
    line-height: 26px;
}

.main__content-article__help-title button{
    display: flex;
    padding: 20px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 4px;
    background: #16C8BB;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

.main__content-article__end {
    width: 100%;
    height: 82px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='82' viewBox='0 0 1440 82' fill='none'%3e%3cpath d='M0 11.2432C0 11.2432 263 0 688 0C1113 0 1440 11.2432 1440 11.2432V672C1440 672 1381 672 942 672C503 672 0 672 0 672V11.2432Z' fill='%23EFF5FB'/%3e%3cpath d='M0 11.2432C0 11.2432 263 0 688 0C1113 0 1440 11.2432 1440 11.2432V672C1440 672 1381 672 942 672C503 672 0 672 0 672V11.2432Z' fill='url(%23paint0_linear_4492_1367)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_4492_1367' x1='720' y1='281.899' x2='720' y2='472.216' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='white' stop-opacity='0'/%3e%3cstop offset='1' stop-color='white'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.main__content-article__help-img-block {
    width: 520px;
    height: 330px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='439' height='296' viewBox='0 0 439 296' fill='none'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M343.954 271.43C291.907 294.673 230.262 300.632 170.824 295.36C12.8579 281.349 25.1124 135.552 5.97148 97.5305C-37.4935 7.14557 179.611 1.3431 220.985 0.897434C262.359 0.451766 305.258 4.64268 349.678 13.4671C394.099 22.2947 421.043 42.9027 430.505 75.2927C439.971 107.681 440.922 142.659 433.362 180.222C425.804 217.786 396.001 248.189 343.954 271.43Z' fill='%23EFF5FB'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 117px;
}

.main__content-article__help-img {
    background-image: url(../img/15.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 369px;
    width: 369px;
    border-radius: 50%;
    position: relative;
    top: -37px;
    left: 63px;
}

.main__content-article__help-background {
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    height: 240px;
    width: 73px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='73' height='240' viewBox='0 0 73 240' fill='none'%3e%3cpath d='M35.2194 17.9636C-38.6046 103.985 16.6975 154.122 81.5546 200.39C146.412 246.657 194.056 248.005 229.791 226.831C265.526 205.658 293.329 135.654 249.652 85.3844C205.974 35.1152 152.528 37.7694 133.58 17.9636C114.632 -1.84213 59.0463 -9.80497 35.2194 17.9636Z' fill='%23F7A698'/%3e%3c/svg%3e");
}

.main__right-part {
    display: flex;
    flex-direction: column;
    width: 282px;
}

.main__right-part__qlick-block {
    width: 100%;
    height: 512px;
    border-radius: 16px;
    background: #E6F0FD;
    display: flex;
    flex-direction: column;
    padding: 24px;
    box-sizing: border-box;
}

.main__right-part__qlick-block  h6, .main__right-part__about-psychologists-blog h6 {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 24px 0 11px 0 ;
}

.main__right-part__qlick-block p {
    text-align: center;
    font-size: 14px;
    line-height: 20px; 
}

.main__right-part__qlick-block button, .main__right-part__about-psychologists-blog button, .main__right-part__sessions-blog button {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 4px;
    background: #35B3A9;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 24px;
    width: 100%;
}

.main__right-part__qlick-img-block {
    width: 257px;
    height: 206px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='195' height='145' viewBox='0 0 195 145' fill='none'%3e%3cpath d='M92.0589 2.73892C2.60397 21.5566 -37.0687 121.378 45.0376 180.026C127.144 238.673 194.729 179.449 194.037 122.799C193.344 66.1478 166.171 -12.8468 92.0589 2.73892Z' fill='%23FFE36B'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.main__right-part__qlick-img-2-block {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='154' height='133' viewBox='0 0 154 133' fill='none'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M130.985 130.299C131.413 130.72 131.424 131.413 131.001 131.84C130.579 132.268 129.893 132.257 129.476 131.824L126.824 129.065C126.44 128.665 126.449 128.026 126.839 127.632C127.229 127.237 127.861 127.227 128.257 127.616L130.985 130.299ZM7.84223 107.369C7.29357 107.608 6.6564 107.353 6.42749 106.795C6.1986 106.237 6.46999 105.6 7.02516 105.376L10.5611 103.953C11.0733 103.746 11.6532 104 11.8644 104.515C12.0755 105.03 11.8427 105.623 11.3366 105.844L7.84223 107.369ZM146.975 105.376C147.53 105.6 147.801 106.237 147.573 106.795C147.344 107.353 146.706 107.608 146.158 107.369L142.663 105.844C142.157 105.623 141.924 105.03 142.136 104.515C142.347 104 142.927 103.746 143.439 103.953L146.975 105.376ZM1.72435 78.3131C1.12468 78.3216 0.630986 77.8368 0.630986 77.2303C0.630986 76.6239 1.12467 76.1391 1.72432 76.1476L5.52015 76.2011C6.07447 76.2089 6.51685 76.6697 6.51685 77.2303C6.51685 77.791 6.07447 78.2518 5.52015 78.2596L1.72435 78.3131ZM153.369 77.2304C153.369 77.8368 152.875 78.3216 152.276 78.3131L148.48 78.2596C147.926 78.2518 147.483 77.791 147.483 77.2304C147.483 76.6697 147.926 76.2089 148.48 76.2011L152.276 76.1476C152.875 76.1391 153.369 76.6239 153.369 77.2304ZM7.02517 49.0847C6.46999 48.8612 6.1986 48.2239 6.4275 47.6657C6.65641 47.1075 7.29357 46.8527 7.84223 47.0921L11.3366 48.617C11.8427 48.8378 12.0755 49.4309 11.8644 49.9458C11.6532 50.4607 11.0732 50.7143 10.5611 50.5081L7.02517 49.0847ZM146.158 47.0921C146.706 46.8527 147.344 47.1075 147.573 47.6657C147.801 48.2239 147.53 48.8612 146.975 49.0847L143.439 50.5081C142.927 50.7143 142.347 50.4607 142.136 49.9458C141.924 49.4309 142.157 48.8378 142.663 48.617L146.158 47.0921ZM129.476 22.6366C129.893 22.2033 130.579 22.193 131.001 22.6203C131.424 23.0476 131.413 23.7409 130.985 24.1621L128.257 26.8443C127.861 27.2333 127.229 27.2237 126.839 26.8292C126.449 26.4346 126.44 25.7955 126.824 25.3955L129.476 22.6366ZM23.0151 24.1621C22.5866 23.7409 22.5764 23.0476 22.9989 22.6203C23.4215 22.193 24.107 22.2034 24.5236 22.6366L27.1759 25.3955C27.5605 25.7955 27.551 26.4346 27.1609 26.8292C26.7707 27.2237 26.1387 27.2333 25.7431 26.8443L23.0151 24.1621ZM47.1979 7.29266C46.9611 6.73782 47.2131 6.09348 47.765 5.862C48.317 5.63051 48.9472 5.90494 49.1682 6.46639L50.5758 10.0423C50.7796 10.5602 50.5289 11.1466 50.0197 11.3602C49.5106 11.5737 48.9241 11.3383 48.7057 10.8265L47.1979 7.29266ZM104.832 6.46638C105.053 5.90494 105.683 5.63051 106.235 5.862C106.787 6.09349 107.039 6.73783 106.802 7.29267L105.294 10.8265C105.076 11.3383 104.489 11.5737 103.98 11.3602C103.471 11.1466 103.22 10.5601 103.424 10.0422L104.832 6.46638ZM77 0.000100135C77.5997 0.000100188 78.0791 0.499353 78.0707 1.10578L78.0178 4.94441C78.01 5.50498 77.5544 5.95235 77 5.95235C76.4456 5.95235 75.99 5.50497 75.9822 4.94439L75.9293 1.1058C75.9209 0.499368 76.4003 0.000100083 77 0.000100135Z' fill='%230063A8'/%3e%3c/svg%3e");
    background-position-x: center;
}

.main__right-part__qlick-img-3-block {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(../img/16.png);
    position: relative;
    top: -183px;
    left: -11px;
}

.main__right-part__about-psychologists-blog {
    display: flex;
    width: 100%;
    height: 481px;
    padding: 24px 18px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid #DEDEDE;
    margin: 24px 0;
    position: relative;
    box-shadow: 0px 30px 50px 0px #EFF5FB;
}

.main__right-part__about-psychologists-blog li {
    color: #333;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
}

.main__right-part__about-psychologists-blog ul {
    margin-block-start: 0;
    padding-inline-start: 0;
}

.main__right-part__about-psychologists-blog h6 {
    margin: 0 0 8px;
}

.main__right-part__about-psychologists-blog-img {
    background-image: url(../img/17.png);
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin-bottom: 16px;
}

.main__right-part__about-psychologists-blog-name {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.main__right-part__about-psychologists-blog-job-title {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    align-self: stretch;
    margin-bottom: 4px;
}

.main__right-part__about-psychologists-blog-experience {
    display: inline-flex;
    flex-wrap: nowrap;
}

.main__right-part__about-psychologists-blog-experience span {
    color: #A2A7B1;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.main__right-part__about-psychologists-blog-experience div {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='5' height='4' viewBox='0 0 5 4' fill='none'%3e%3ccircle cx='2.5' cy='2' r='2' fill='%23A2A7B1'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 8px;
    width: 4px;
}

.main__right-part__about-psychologists-blog-border {
    display: flex;
    height: 1px;
    box-shadow: 0px 1px 0px 0px #DEDEDE;
    width: 100%;
    margin: 16px;
}

.main__right-part__about-psychologists-blog-tags-block {
    border-radius: 6px;
    background: rgba(243, 244, 248, 0.70);
    display: flex;
    padding: 0px 6px;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.25px;
    width: max-content;
}

.main__right-part__about-psychologists-blog-tags {
    position: absolute;
    left: 18px;
}

.main__right-part__about-psychologists-blog-tags-block {
    margin-bottom: 8px;
}

.main__right-part__about-psychologists-blog-tags-icon-1, .main__right-part__about-psychologists-blog-tags-icon-2 {
    background-repeat: no-repeat;
    width: 16px;
    height: 24px;
    background-position: center;
}

.main__right-part__about-psychologists-blog-tags-icon-1 {
    background-image: url(../img/18.jpg);
}

.main__right-part__about-psychologists-blog-tags-icon-2 {
    background-image: url(../img/19.jpg);
}

.main__right-part__about-psychologists-blog button {
    margin-top: 20px;
}

.main__right-part__care-blog {
    width: 100%;
    height: 292px;
    background: url(../img/20.png), #2963A3 50% / cover no-repeat;
    border-radius: 16px;
    padding: 60px 25px 0 22px;
    box-sizing: border-box;
    text-align: center;
    z-index: 5;
}

.main__right-part__care-blog span {
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}

.main__right-part__care-blog-img-1, .main__right-part__care-blog-img-2, .main__right-part__care-blog-img-3 {
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}

.main__right-part__care-blog-img-1 {
    background-image: url(../img/21.png);
    width: 112px;
    height: 146px;
    flex-shrink: 0;
    bottom: -6px;
    left: -22px;
    border-radius: 0 0 0 16px;
    z-index: 5;
}

.main__right-part__care-blog-img-2 {
    background-image: url(../img/22.png);
    width: 107px;
    bottom: 73px;
    height: 79px;
    right: -153px;
    border-radius: 0 0 16px 0;
    z-index: 5;
}

.main__right-part__care-blog-img-3 {
    background-image: url(../img/23.png);
    width: 167px;
    bottom: 232px;
    height: 159px;
    right: -67px;
}

.main__right-part__sessions-blog {
    width: 100%;
    height: 304px;
    border-radius: 24px;
    border: 1px solid #DEDEDE;
    box-shadow: 0px 30px 50px 0px #EFF5FB;
    margin-top: 42px;
    padding: 32px;
    box-sizing: border-box;
}

.main__right-part__sessions-blog-price {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.main__right-part__sessions-blog p {
    font-size: 14px;
    line-height: 20px;
    margin: 16px 0;
}

.main__right-part__sessions-blog-name span {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #2963A3;
}

.main__right-part__sessions-blog-name span:first-child {
    font-size: 24px;
}

.main__right-part__sessions-blog button {
    width: 108px;
    margin-top: 16px;
}

.main__right-part__sessions-blog-img-1, .main__right-part__sessions-blog-img-2 {
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}

.main__right-part__sessions-blog-img-1 {
    background-image: url(../img/24.png);
    width: 90px;
    height: 121px;
    z-index: 5;
    top: -66px;
    right: -160px;
    border-radius: 0 0 16px 0;
}

.main__right-part__sessions-blog-img-2 {
    background-image: url(../img/25.png);
    width: 106px;
    height: 106px;
    top: -172px;
    right: -137px;
    border-radius: 0 0 16px 0;
}